
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,64,121,1) 35%, rgba(0,212,255,1) 100%);
   
}

  

  /* new  */
  .nav{
    display: grid;grid-template-columns: repeat(4,1fr);
    background-color: #000;
    height: 50px;
    padding: 20px;
    width: 100%;
   
  }
  .nav-items{
    display: flex;
    margin-left: 200px;
    
}
a{
    color: white;
      text-decoration: none;

  }
 