.navbar{
    display: flex;
    width: 100vw;
    height: 5rem;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 50%;

    color: red;
    font-weight: bold;
}
.navlinks{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}
a{
    text-decoration: none;
    color:silver;
    font-weight: bold;
}